<div class="jumbotron">
  <h1 class="display-4"> 
    <%= @friend.first_name %>
    <%= @friend.last_name %>
  </h1>
  <p class="lead"><%= @friend.email %></p>
  <p class="lead"><%= @friend.phone %></p>
  <p class="lead"><%= @friend.instagram %></p>

<div>
  <%= link_to "Edit friend", edit_friend_path(@friend), class:"btn btn-outline-dark" %>
  <%= link_to "Back to friends", friends_path, class:"btn btn-outline-dark" %>
  <%= link_to "Delete", @friend, class:"btn btn-outline-dark", data: { turbo_method: :delete, turbo_confirm: "Are you sure?"  } %>
</div>
</div>








